/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Styles to Header Area */

header {
  background-color: #005fac;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header-title {
  font-weight: 800;
  font-size: 65px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 24px;
}

.header-description {
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  line-height: 26px;
  margin-bottom: 50px;
}

.primary-btn {
  background: #ffffff;
  border: 0;
  padding: 20px 36px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.primary-btn a {
  color: #005fac;
  text-decoration: none;
}

.primary-btn a:visited {
  color: #005fac;
}

/* Styles to Main Section */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Styles to Failures Sub-Section */

.failures {
  margin-top: 130px;
  display: flex;
  gap: 87px;
}

.failure-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.failure-description {
  margin-bottom: 200px;
}

.failure-title {
  text-align: left;
  font-weight: 800;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.failure-text {
  text-align: left;
  color: #444343;
  margin-bottom: 16px;
  line-height: 26px;
}

.failure-list li {
  list-style: inside url(../images/icons/checkmark.png);
  color: #444343;
  line-height: 26px;
  margin-bottom: 8px;
}

/*Styles to Plans Sub-Section*/

.plans {
  margin-top: 130px;
}

.plans h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #151414;
}

.plan-list-container {
  display: flex;
  justify-content: space-between;
  gap: 85px;
  /* margin: 50px auto; */
  margin-top: 50px;
}

.plan-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-image {
  margin-bottom: 24px;
}

.plan-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
  margin-bottom: 16px;
}

.plan-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  /* margin: 0 auto; */
  text-align: center;
  color: #737272;
}

/*Styles to Inspiration Sub-Section  */

.inspiration {
  width: 1140px;
  height: 301px;
  /* background-color: #737272; */
  /* background-image: url(../images/watch.png); */
  background-image: linear-gradient(90deg, rgb(0, 95, 172), rgba(0, 95, 172, 0)),
    url(../images/watch.png);
  border: 0;
  border-radius: 8px;
  margin-top: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inspiration-quotes {
  margin-left: 64px;
}

.inspiration-quotes h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* Styles to Footer Section */

footer {
  width: 100%;
  height: 577px;
  background-color: #151414;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section-container {
  display: flex;
  gap: 330px;
}

.future-container h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.future-text {
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}

.email {
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 16px;
}

.phone {
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 32px;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
}

.subscribe-container h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 30px;
}

.subscribe-container input {
  width: 100%;
  height: 64px;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding-left: 22px;
  color: #f3f3f3;
  background-color: #ffffff00;
  margin-bottom: 16px;
}

.subscribe-btn {
  background: #005fac;
  border: 0;
  padding: 20px 25px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.subscribe-btn a {
  color: #ffffff;
  text-decoration: none;
}

.subscribe-btn a:visited {
  color: #ffffff;
}
